@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@500;600&display=swap');

:root{
    --pink: #ECADCA;
    --peach: #EED0CE;
    --blackCoffee: #2F242C;
    --darktan: #DAAA63; 
    --darkBrown: #2C1810; 
    --bgTan: #F2E5D0; 
    --lightTan: #F9F3EE;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: var(--darkBrown);
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: var(--bgTan);
    background-image: url("images/bookicon3.svg");
    background-size: 5%;
}

.styling{
    background-color: var(--lightTan);
    border-radius: 20px;
    margin: 50px;
    padding: 20px;
    min-height: 90vh;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px 100px auto;
}

h1{
    font-size: 5rem;
    width: 50px;
    font-family: 'Libre Caslon Text', serif;
    place-items: center;
    margin-top: 90px;
    margin-left: 90px;
}

button, input, select, fieldset, label, textarea{
    font-family: inherit;
    font-size: 100%;
    width: 300px;
    margin: 0 auto;
    background-color: var(--lightTan);
}

input{
    border-radius: 8px;
    outline: dashed 2px var(--blackCoffee);
    border: transparent;
    padding: 5px;
    transition: 0.3s;
}

fieldset{
    border-radius: 8px;
    padding: 5px;
    border: dashed 2px var(--blackCoffee);
}

.shelf{
    height: 20px;
    position: relative;
    grid-area: 3/1;
}

.shelf_top{
    position: absolute;
    border-bottom: 40px solid #EAE1D4; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 900px;
    left: -51px;
    bottom: 5px;
    z-index: 4;
}

.shelf_bottom{
    position: absolute;
    left: -50px;
    bottom: -5px;
    width: 900px;
    height: 10px;
    background-color: var(--lightTan);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -5px 40px 10px;
    z-index: 3;
}

form{
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 10;
}

input[type="radio"]{
    width: 50px;
    outline: none;
    transition: 0.3s;
}
#img_books{
    position: relative;
    bottom: -80px;  
    width: 55%;
    z-index: 1;
}

#img_git{
    width: 15%;
    position: relative;
    right: 30px;
    top: 50px;
    z-index: 10;
    transition: 0.3s;
}

#img_git:hover{
    filter: contrast(150%);
}
button{
    grid-area: 2/2;
    padding: 10px;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border:transparent;
    outline: solid 2px var(--darkBrown);
    z-index: 10;
    transition: 0.3s;
}

    input:hover{
        outline: dashed 2px var(--blackCoffee);
        background-color: var(--peach);
        box-shadow: rgba(209, 204, 204, 0.35) 0px 10px 20px 1px
    }

    button:hover{
        background-color: var(--pink);
    }

    input[type='radio']:hover, label[for="haveread"]:hover, label[for="notread"]:hover {
        outline:none;
        text-decoration: underline;
        background-color: var(--peach);
    }

table {
    margin-top: 50px;
    grid-area: 3/1/3/3;
    background-color: var(--lightTan);
}

th, tr, td{
    font-weight: 400;
    border: solid 1px var(--darkBrown);
    padding: 10px;
}

